/* Detailsheader start */

.courseDetails{
    background-image:url('img/banner/banner.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.courseDetails h1{
    text-align: center;
    color: white;
    padding-top:180px;
    font-size: 40px;
    position: relative;
}
.courseDetails::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background:rgba(0, 35, 71, 0.8);
}
.coursedetails-pagelink{
    text-align: center;
    position: relative;

}
.coursedetails-pagelink a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    position: relative;
}
/* Detailsheader Ending */

.coursedetails-img img{
    width: 700px;
    height: 400px;
  
    margin-left:40px;

}
.coursedetails-img{
    margin-top:140px;
}


.course-information{
 width: 600px;
 margin-left:70px;
}
/* Button information Start */
.coursedetails-button{
width: 400px;
padding:15px;
margin-left:70px;
margin-top:30px;
background-color:rgb(12, 12, 46);
color: orange;
}
.coursedetails-button:hover{
    background-color:orange;
   color:white;
}
/* button information Ending */
.objectmaindiv{
    margin-top: 70px;
}

.objectmaindiv hr{
    width:550px;
    color:red;
  margin-left:150px;
}
.objectheading h2{
    margin-left:150px;
}
/* font-awesome start */
.coursedetails-icon{
    color:orange;
}
/* feedback features start */
.feedback-content{
 resize: none;
height: 130px;
width: 350px;
background-color:#f9f9ff;
margin-top: 10px;

}
/* feedback features ending */
/* feedback button start */
.feedbackbutton{
    padding:15px;
    width:200px;
    background-color: orange;
    color: white
}
.feedbackbutton:hover{
    background-color: white;
    color: rgb(11, 11, 56);
}
/* eligibility section start */
.eligibility-section{
    margin-top: 70px;
}
.eligibility-section hr{
    width: 600px;
    margin-left:90px;
}
.eligibility-section h3{
    margin-left:90px;
}
/* All course image start */
.allcourse_img img{
    width: 200px;
    
}
.allcourse_img{
    margin-left:70px;
    margin-top: 70px;
}
