.blog-header-img img{
    width:1350px;
    height:500px;
   
}
/* blog heading */
.blog-heading h1{
    font-size:50px;
    text-align: center;
    margin-top: 30px;
    color: orange;
   
}
.blog-img{
margin-top:30px;
}
/* search form */
.search-form {
 background-color:darkturquoise;
 padding:15px;
 width:350px;
 height:200px;
 color: white;
 margin-top:30px;
 
}
.search-form h4{
    margin-bottom: 0;
}
.search-form  {
    background-color:darkturquoise;
   
   
}
.search-form input{
    padding:10px;
    color:white;
    margin-top:30px;
}
.search-form button{
    padding: 10px;
}
/* categories section start */
.categories-heading {
   margin-top:50px;
   background-color: darkturquoise;
   color: white;
   width:350px;
   padding:10px;
}
.categories-item{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    border-bottom: 2px solid antiquewhite;
    width:80%;
  }
  .new-courses{
    background-image: url('img/blog/widget_img.jpg');
    background-repeat: no-repeat;
    height:600px;
    margin-top:70px;
    
  }
  .new-course-heading{
    color: white;
    padding-top:60px; 
    text-align: center;

  }
  .new-course-heading h1{
    font-size:45px;
    font-weight:bolder;
  }
  .new-course-heading button{
    padding:20px;
    width: 200px;
    margin-top: 10px;
    background-color: orange;
    color: white;
  }
  .recent-heading{
    background-color: rgb(22, 188, 190);
    width: 370px;
    padding:1px;
    color: white;
    
  }
  .recent-heading h2{
   margin-top: 10px;
   padding-left:15px;
  }
  .recent-img img{
    width:120px;
    height:120px;
   
   
  }
  .recent-img{
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  .blog-ancor{
    text-decoration: none;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 30px;
}
.blog-button{
  width:150px;
  padding: 15px;
  margin-left:10px;
  background-color: orange;
  color: white;
}
  
  

  

