.expert-trainer{
 margin-top:110px;
}
.trainer-main-row{
margin-top:70px;
}
.expert-heading:hover{
    background-color:rgb(235, 227, 227);

}
.Expert-tainer-img{
    width:250px;
    text-align: center;
}