.register-section  {
    background-color: rgb(4, 4, 57);
    height: 500px;
    margin-top:90px;
    
}
.register-section p{
    color: wheat;
    font-size: 20px;
}
.register-heading h1{
    font-size: 50px;
    color: white;
}
.register-heading{
    margin-top:100px;
    /* margin-left: 100px; */
}
.register-button button{
    font-size:35px;
    margin-left:5px;
    padding:30px;
    background-color:rgb(48, 92, 92) ;
color: white;
  }
  
  /* Form style start */
  .courses-form input{
   color: white;
   width:320px;
  padding: 15px;
  margin-top:8px;
  font-size:17px;
  border: none;
  border-bottom: 1px solid gray;

  
  
}
.courses-form{
    margin-top:50px ;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #eeeeee;
}
.courses-form button{
    width:320px;
    margin-top: 8px;
    padding: 15px;
    background-color: orange;
    color: rgb(6, 6, 48);
    font-weight: 800;
}
.courses-form button:hover{
    background-color: rgb(3, 3, 52);
    color: orange;
}
