.upcomming-event{
    background-color: rgb(10, 10, 63);
    height:720px;
    margin-top: 90px;

}
.upcomming-header{
    margin-top: 50px;
    padding-top:100px;
    margin-left:40%;
}
.upcomming-event p{
    margin-left: 40%;
}
.event-img{
 margin-left:110px;
}
.event-image-main-div img{
    width:545px;
}
.event-image-main-div img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}


